<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
  <system.serviceModel>
    <!--<diagnostics>
      <messageLogging
                 logEntireMessage="true"
                 logMalformedMessages="true"
                 logMessagesAtServiceLevel="true"
                 logMessagesAtTransportLevel="false"
                 maxMessagesToLog="-1"/>

    </diagnostics>-->
    <bindings>
        <basicHttpBinding>
            <binding name="RedpackWSSoap11Binding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                <security mode="Transport"/>              
            </binding>
            <binding name="RedpackWSSoap11Binding1"/>
        </basicHttpBinding>
        <customBinding>
            <binding name="RedpackWSSoap12Binding">
                <textMessageEncoding messageVersion="Soap12"/>
                <httpsTransport/>              
            </binding>
        </customBinding>
    </bindings>
    <client>
        <endpoint address="https://ws.redpack.com.mx/RedpackAPI_WS/services/RedpackWS.RedpackWSHttpsSoap11Endpoint/" 
                  binding="basicHttpBinding" bindingConfiguration="RedpackWSSoap11Binding" contract="WSRedpack.RedpackWSPortType" name="RedpackWSHttpsSoap11Endpoint"/>
        <!--<endpoint address="http://ws.redpack.com.mx/RedpackAPI_WS/services/RedpackWS.RedpackWSHttpSoap11Endpoint/"
            binding="basicHttpBinding" bindingConfiguration="RedpackWSSoap11Binding1"
            contract="WSRedpack.RedpackWSPortType" name="RedpackWSHttpSoap11Endpoint" />
       <endpoint address="http://ws.redpack.com.mx/RedpackAPI_WS/services/RedpackWS.RedpackWSHttpSoap12Endpoint/"
            binding="customBinding" bindingConfiguration="RedpackWSSoap12Binding"
            contract="WSRedpack.RedpackWSPortType" name="RedpackWSHttpSoap12Endpoint" />
        <endpoint address="https://ws.redpack.com.mx/RedpackAPI_WS/services/RedpackWS.RedpackWSHttpsSoap12Endpoint/"
            binding="customBinding" bindingConfiguration="RedpackWSSoap12Binding"
            contract="WSRedpack.RedpackWSPortType" name="RedpackWSHttpsSoap12Endpoint" />-->
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="CrecePlus2Entities" connectionString="metadata=res://*/CrecePlus2.csdl|res://*/CrecePlus2.ssdl|res://*/CrecePlus2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.217;initial catalog=CrecePlus2;user id=sa;password=TcpkfcW8l1t0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
